<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rx.db.mapper.SysOplogMapper">

    <resultMap type="cn.rx.db.entity.SysOplog" id="OplogMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="state" column="state" jdbcType="INTEGER"/>
        <result property="category" column="category" jdbcType="INTEGER"/>
        <result property="ip" column="ip" jdbcType="VARCHAR"/>
        <result property="result" column="result" jdbcType="VARCHAR"/>
        <result property="times" column="times" jdbcType="INTEGER"/>
        <result property="query" column="query" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="model" column="model" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>

    </resultMap>


    <select id="selectOplogPage" resultType="cn.rx.common.vo.sysOplog.SysOplogVO">
        select
        o.id,
        o.user_id,
        o.state,
        o.ip,
        o.times,
        o.query,
        o.category,
        o.result,
        o.create_time,
        o.model,
        o.address,
        o.description,
        a.username
        from sys_oplog o
        left join sys_admin a on o.user_id = a.user_id
        <where>
            <if test="leve!=null">
                and o.category = #{leve}
            </if>
        </where>
        order by o.create_time desc
        limit #{page}
        , #{size}

    </select>

    <select id="countOplogPage" resultType="java.lang.Long">
        select count(o.id)
        from sys_oplog o
        join sys_user u on o.user_id = u.user_id
        <where>
            <if test="leve!=null">
                o.category = #{leve}
            </if>
        </where>
    </select>


</mapper>

