<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rx.db.mapper.SysPermissionsMapper">

    <resultMap type="cn.rx.common.vo.admin.sysPermissions.SysMenuPermissionsVO" id="PermissionsMap">
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <collection property="permissions">
            <result property="permissionsId" column="permissions_id" jdbcType="INTEGER"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="state" column="state" jdbcType="INTEGER"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        </collection>

    </resultMap>

    <!--    根据角色查询权限-->
    <select id="selectByRoleName" resultType="cn.rx.db.entity.SysPermissions">
        select
        p.permissions_id,
        p.description,
        p.url,
        p.state,
        p.update_time,
        p.create_time
        from sys_permissions p
        join sys_permissions_role pr on p.permissions_id = pr.permissions_id
        join sys_role r on r.role_id = pr.role_id
        where r.role_name in
        <foreach collection="names" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>

    </select>

    <!--    根据角色查询权限-->
    <select id="selectAllByRoleId" resultType="cn.rx.common.vo.admin.sysPermissions.SysPermissionsVO">
        select p.permissions_id,
               p.description,
               p.url,
               p.state,
               p.update_time,
               p.create_time
        from sys_permissions p
                 join sys_permissions_role pr on p.permissions_id = pr.permissions_id
                 join sys_role r on r.role_id = pr.role_id
        where r.role_id = #{roleId}
    </select>


    <!--    根据角色id列表查询权限-->
    <select id="selectByRoleIdList" resultType="cn.rx.db.entity.SysPermissions">
        select
        p.permissions_id,
        p.description,
        p.url,
        p.state,
        p.update_time,
        p.create_time
        from sys_permissions p
        join sys_permissions_role pr on p.permissions_id = pr.permissions_id
        join sys_role r on r.role_id = pr.role_id
        where r.role_id in
        <foreach collection="ids" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>


</mapper>

