<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rx.db.mapper.SysAdminMapper">

    <resultMap type="cn.rx.common.vo.sysAdmin.SysAdminVO" id="AdminMap">
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="openid" column="openid" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="state" column="state" jdbcType="INTEGER"/>
        <result property="sex" column="sex" jdbcType="INTEGER"/>
        <result property="roleName" column="roleName" jdbcType="VARCHAR"/>
    </resultMap>


    <!--    分页查询管理员信息-->
    <select id="selectPageAdmin" resultType="cn.rx.common.vo.sysAdmin.SysAdminVO" resultMap="AdminMap">
        select u.user_id,
        u.phone,
        u.avatar,
        u.nickname,
        u.create_time,
        u.update_time,
        u.state,
        u.sex,
        (select username from sys_admin where user_id = u.user_id ) as username,
        group_concat(distinct r.role_name separator ',') as roleName
        from sys_user u
        join sys_role_user ru on u.user_id = ru.user_id
        join sys_role r on ru.role_id = r.role_id
        where
        r.role_value >= 100 and u.deleted = 0
        <if test="sysUser.phone != null">
            and u.phone like concat('%',#{sysUser.phone},'%')
        </if>
        <if test="sysUser.sex != null">
            and u.sex = #{sysUser.sex}
        </if>
        <if test="sysUser.state != null">
            and u.state = #{sysUser.state}
        </if>
        <if test="sysUser.nickname != null">
            and u.nickname like concat('%',#{sysUser.nickname},'%')
        </if>
        <if test="roleId != null">
            and ru.role_id = #{roleId}
        </if>
        <if test="username != null">
            and u.user_id in
            ( select ac.user_id from sys_admin ac where ac.username like concat('%',#{username},'%'))
        </if>
        group by
        u.user_id
        order by u.update_time desc
        limit #{page},#{size}
    </select>

    <select id="selectCountPageAdmin" resultType="java.lang.Long">
        select
        count( u.user_id)
        from sys_user u
        join sys_role_user ru on u.user_id = ru.user_id
        join sys_role r on ru.role_id = r.role_id
        where
        r.role_value >= 100 and u.deleted = 0
        <if test="sysUser.phone != null">
            and u.phone like concat('%',#{sysUser.phone},'%')
        </if>
        <if test="sysUser.sex != null">
            and u.sex = #{sysUser.sex}
        </if>
        <if test="sysUser.state != null">
            and u.state = #{sysUser.state}
        </if>
        <if test="sysUser.nickname != null">
            and u.nickname like concat('%',#{sysUser.nickname},'%')
        </if>
        <if test="roleId != null">
            and ru.role_id = #{roleId}
        </if>
        <if test="username != null">
            and u.user_id in
            ( select user_id from sys_admin where username like concat('%',#{username},'%'))
        </if>
    </select>


    <!--    根据用户id查询用户信息-->
    <select id="selectInIds" resultType="cn.rx.common.vo.sysAdmin.SysAdminVO" resultMap="AdminMap">
        select u.user_id,
        u.phone,
        u.avatar,
        u.nickname,
        u.create_time,
        u.update_time,
        u.state,
        u.sex,
        r.role_name,
        (select username from sys_admin where user_id = u.user_id ) as username
        from sys_user u
        join sys_role_user ru on u.user_id = ru.user_id
        join sys_role r on ru.role_id = r.role_id
        where
         u.deleted = 0 and
        u.user_id in
        <foreach item="id" index="index" collection="ids"
                 open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>


</mapper>

