<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rx.db.mapper.SysConfigMapper">

    <resultMap type="cn.rx.db.entity.SysConfig" id="SysConfigMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="sysKey" column="sys_key" jdbcType="VARCHAR"/>
        <result property="sysValue" column="sys_value" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="state" column="state" jdbcType="INTEGER"/>
    </resultMap>


</mapper>

