<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rx.db.mapper.SysRoleMapper">

    <resultMap type="cn.rx.db.entity.SysRole" id="RoleMap">
            <result property="roleId" column="role_id" jdbcType="INTEGER"/>
            <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
            <result property="roleValue" column="role_value" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="state" column="state" jdbcType="INTEGER"/>
    </resultMap>


    <!--    根据id列表查询角色信息-->
    <select id="selectInUserId" resultType="cn.rx.db.entity.SysRole">
        select r.role_id,
        r.role_id,
        r.role_name,
        r.state,
        r.role_value,
        r.create_time,
        r.update_time
        from sys_role r
        join sys_role_user ru on r.role_id = ru.role_id
        where ru.user_id in
        <foreach item="id" index="index" collection="idList" open="(" separator="," close=")">
            #{id}
        </foreach>


    </select>

    <!--    根据用户id查询角色信息-->
    <select id="selectByUserId" resultType="cn.rx.db.entity.SysRole">
        select r.role_id,
               r.role_id,
               r.role_name,
               r.role_value,
               r.state,
               r.create_time,
               r.update_time
        from sys_role r
                 join sys_role_user ru on r.role_id = ru.role_id
        where ru.user_id = #{userId}
    </select>




</mapper>

