:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* 滚动条颜色颜色 */
  --scroll-color: rgba(161, 166, 167, 0.443);
  font-size: 15px;
}

* {
  padding: 0;
  margin: 0;
}

div,p,span{
  font-size: 14px;
}

.ant-modal div[aria-hidden="true"] {
  display: none !important
}


img{
  object-fit: cover;
}

.rx_no_select {
  -webkit-user-select: none;
  /* 禁止 DIV 中的文本被鼠标选中 */
  -moz-user-select: none;
  /* 禁止 DIV 中的文本被鼠标选中 */
  -ms-user-select: none;
  /* 禁止 DIV 中的文本被鼠标选中 */
  user-select: none;
  /* 禁止 DIV 中的文本被鼠标选中 */
}



/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.3);
  border-radius: 0px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: var(--scroll-color);
}



button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  outline: none;
  cursor: pointer;
  transition: border-color 0.25s;
}